<h1>Users Home page</h1>
<div class = "container">
  <h2>Books</h2>
  <% @books.each do |book| %>
    <div class= "mt-4 card">
      <div class= "card-body">
        <div class="d-flex justify-content-between">
        <%= book.title %>
        <%= link_to 'Order', user_book_orders_path(book), method: :post  %>
      </div>
    </div>
  </div>
  <% end %>
</div>
