<div class= "container">
  <h1>Welcome to Books World</h1>
  <div class="aa">
    <button type="button" class="btn btn-light mb-5"><a href="admins/sign_in">Login as a Admin </a></button> <br>
    <button type="button" class="btn btn-light mt-5"><a href="users/sign_in">Login as a User</a></button>
  </div>
</div>
