// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background-image: url('/book.jpeg')
}
h1{

  text-align: center;
}
.aa{
  text-align: center;
  display: list-item;
  margin-top: 50px;

}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-text a {
  color:white;
}
